name: release

on:
  release:
    types: [published]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: curl, json, mbstring

      - name: Install dependencies
        run: composer install --dev

      - name: Run tests
        run: vendor/bin/phpunit
